.icon {
    font-family: "symbology-icons";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color:#0178af;	  
    speak: none;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.icon:hover {
    color: #5ea9cc !important;
}

.noSpace{
    margin:0px;
    padding:0px;
}

.cntIcon{
    font-family: "symbology-icons";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color:#0178af;	  
    speak: none;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); 
}            

.headIcon{
    font-family: "symbology-icons";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color:#0178af;	  
    speak: none;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); 
}      

.gradient{
    background: #ffffff url("https://cdn.jsdelivr.net/gh/svgsymbology/platformweb/images/page/symbology-gradient.png") 0px 0px no-repeat;
    background-image: linear-gradient(to right, #c0deeb, #ffffff);
    color:#0178af;
    font-size:12px;
}  

.boldblue{
    color:#0178af !important;
    font-weight:bold !important;
    font-size:14px !important;
    font-family: 'serif';
}              

.left{
    color:#0178af !important;
    text-align: left !important;
}

.right{
    color:#0178af !important;
    text-align: right !important;
    font-weight:normal !important;
}

.cntTable{padding:10px;width:1160px;}
.mainheading {font-weight:bold;color:#0178af;font-size:30px;text-align:center;page-break-before: always;}
.heading {font-weight:bold;color:#0178af;font-size:20px;text-align:center;}
.index {vertical-align:top;font-weight:bold;color:#0178af;padding-top:10px;width:80px;}            
.main {color:#0178af;font-size:12px;}
.empasis {font-weight:bold;color:#0178af;}
.symbol{color:#0178af;font-size:20px;}
.smallsymbol{color:#0178af;font-size:12px;}
.listing{text-align:center;}
.return {width:50px;text-align: right;}
.picture{text-align:center;}

.txt {color:#0178af;padding:10px;font-size:12px;}
.txtNoBottom {color:#0178af;padding:10px;padding-bottom:0px;font-size:12px;}            

.rounded{
    width:1100px;
    display: flex;
    background-color: #d7eaf2;
    border-radius: 15px;
}
.prtPub{
    width:100%;
}
.trans{
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.0);
}

div {
    display:block; 
}
.pbBefore{
    page-break-before: always;
}            

.lighten:hover{
    filter: brightness(120%);
}
.pgCol{
    vertical-align: top;                
}
.numCol{
    width:30px;
    vertical-align: top;
}
.headCol{
    vertical-align: top;
}
.mech{
    vertical-align: top;
}
.cntCol{
    padding:0px;
}
.cntTbl{
    margin:0px;
}            
.circle {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    padding-top: 2px;
    padding-right: 2px;
    background: #0178af;
    color: #ffffff;
    text-align: center;
    font-weight:bold;
    font: 10px sans-serif;
}
.pgCircle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding-top: 3px;
    padding-right: 3px;
    background: #0178af;
    color: #ffffff;
    text-align: center;
    font-weight:bold;
    font: 14px sans-serif;
}

.infoName{
    color:#0178af !important;
    font-weight:bold !important;
    font-size:14px;
    text-align:left;
    font-family: 'serif';
}

.infoDefinition{
    color:#0178af !important;
    font-weight:normal !important;
    font-size:14px;
    text-align: left;
    font-family: 'serif';
}     

.conHeight{
    height:28px;
}            

.compHeight{
    height:40px;
}

.consttr{
    height:26px;                
}
.center{
    margin:auto;
}

a:active {
    outline-color: #0178af !important;
    border-style: solid;
    border-color: #0178af !important;
    border-width: 2px;                
}
