            
td.centered{
    text-align: center;
}

.blue{
    color:#0178af !important;
}

.navBlue{
    color:#0178af !important;
    font-weight:bold !important;
    font-size:12px;
}            

.gradient{
    background: #0178af url("https://cdn.jsdelivr.net/gh/svgsymbology/platformweb/images/pages/symbology-gradient.png") 0px 0px no-repeat;
    background-image: linear-gradient(to right, #ffffff, #0178af);
}

.navGradient{
    background: #c0deeb url("https://cdn.jsdelivr.net/gh/svgsymbology/platformweb/images/pages/symbology-nav-gradient.png") 0px 0px no-repeat;
    background-image: linear-gradient(to right, #c0deeb, #ffffff);
}

.navGradient tr{
    background: #c0deeb url("https://cdn.jsdelivr.net/gh/svgsymbology/platformweb/images/pages/symbology-nav-gradient.png") 0px 0px no-repeat;
    background-image: linear-gradient(to right, #c0deeb, #ffffff);
}

.center {
    margin: auto;
    text-align: center;
    vertical-align:middle;
    padding: 10px;
}            

.boldblue{
    color:#0178af !important;
    font-weight:bold !important;
    font-size:12px !important;
    font-family: 'serif';
}              

.left{
    color:#0178af !important;
    text-align: left;
}

.right{
    color:#0178af !important;
    text-align: right;
    font-weight:bold !important;
}

.ui-datatable-empty-message {
    color:#0178af !important;
}

.top-aligned-columns td{
    vertical-align: top;
    vertical-align: text-top;
}

.ui-datatable thead th {
    color: #ffffff !important;
}            
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    padding: 1px 4px;
}            
.colStyle {    
    font-size:14px;
    text-align: right;
}
.spaceStyle{
    padding-right: 5px;
}

#header {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}
#header img {
    float: left;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 51px;
}
#secondaryheader {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    /*background: #1F448C;*/
    border-top: 5px solid #AF1113;
    /*border-bottom: 1px solid #1F448C;*/
    text-align: center;

    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#container {
    width: 100%;
    float: left;
}
#nav {
    width: 18%;
    background: #1F448C;
    color: #0178af;
    font-size: 16px;
    font-weight: bold;
    min-height: 400px;
    padding: 10px 1%;
    float: left;
    max-width: 180px;
    /*border-right: 3px solid #2564DE;*/

    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#content {
    width: 83%;
    margin-left:2px;
    margin-right: 0px;
    margin-top: 2px;
    float: left;
    display: inline;
    overflow: auto;
}
.ui-panelgrid td {
    border-width: 0px;
    border-style: hidden;
    border-color: inherit;
    padding: 0px 0px;
}

table{
    border-spacing: 0px;
}
td{
    padding: 0px;
}
body {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #0178af;
    font-size: 9pt;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#nav a{
    color:#0178af;
    font-weight:bold;
}
#footer {
    clear: both;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid #8facb5;
    color: #0178af;
}

.ui-datatable-data-empty .ui-dt-c {
    width: 100% !important;
}            

.grid {
    background-color: blue !important;
    font-weight: bold;
}

.ui-panel {
    padding: 0em;
}
.ui-widget-content {
    color: #000;
}
.ui-panel .ui-panel-content {
    border: 0;
    background: none;
    padding: 0em 0em;
    color: #0178af;
}
.ui-button-text-only .ui-button-text {
    padding: 0em;
    color: #FFFFFF;
}
.FAILED{
    color: #AF1113;
    font-size: 10px;
}
.INACTIVE{
    color: grey;
    font-size: 10px;                
}

.panelGridBody{
    font-size: 10px;
    cell-padding:10px;
    cell-spacing:10px;
    padding:20px;
    border:0px;
}

.mssg{
    font-size: 12px;                
}

.nav{
    font-size: 12px;
}

.txt{
    font-size: 12px;
}

.col{
    font-size: 10px;
    color:#FFFFFF;
}

.result{
    font-size:14px;
    color:#000000;
}

.filterCss{
    font-size: 10px;
    height: 10px;
}
.headerCss{
    background-color : #49A4CB !important;
    font-weight: bold !important;
    color:#FFFFFF;
}
.input{
    width:140px;
    font-size:10px;
    font-weight:normal;
    color:#0178af !important;
    vertical-align: middle;
    padding:5px;
}
.centralPanel {
    height:100%;
    border:0;
    border-color: transparent;
}
.ui-growl-item-container.ui-state-highlight {
    border-color: pink;
    background-color: #49A4CB;
}
.inputText{
    font-size:14px;
    color:#0178af;
}

.ui-inputfield {
    color : #0178af;
}            

.ui-growl-item-container.ui-state-highlight {
    border-color: black;
    background-color: #49A4CB;
}
.ui-growl-item{
    background-color: #49A4CB;                
}
.ui-growl-title {
    font-size :30px;                  
    color:#ffffff;
}
.ui-growl-message p {
    font-size :20px;                  
    color:#ffffff;
}
.ui-growl-icon-close{
    background-color: #49A4CB;                
}
.ui-growl-image{
    background-color: #49A4CB;                                
}

.selectOperationOneMenu {
    height:20px !important;
    font-size: 12px !important;
    color:#0178af !important;
    font-family: 'serif' !important;                
} 

.ui-selectonemenu{
    height:20px !important;
    font-size: 12px !important;
    color:#0178af !important;
    font-family: 'serif' !important;                
} 

.ui-selectonemenu-trigger{
    height:20px !important;
    font-size: 12px !important;
    color:#0178af !important;
}

.ui-selectonemenu-label {
    height:12px !important;
    font-size: 12px !important;
    color:#0178af !important;
    font-family: 'serif' !important;                
}

.ui-selectonemenu .ui-selectonemenu-label {
    font-size: 12px !important;
    color:#0178af !important;
    font-family: 'serif' !important;                
}

.ui-selectonemenu-item {
    font-size: 12px !important;
    color:#0178af !important;
    font-family: 'serif' !important;
}